<div class="p-10">
  <h2 class="text-2xl font-bold mb-4">Edit User</h2>
  <div *ngIf="isLoading" class="text-gray-500">Loading...</div>
  <form *ngIf="!isLoading" [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <label for="name" class="block text-gray-700">Name:</label>
    <input
      type="text"
      id="name"
      class="border rounded-md p-2 w-full mb-4"
      formControlName="name"
    />

    <label for="email" class="block text-gray-700">Email:</label>
    <input
      type="email"
      id="email"
      class="border rounded-md p-2 w-full mb-4"
      formControlName="email"
    />

    <label for="address" class="block text-gray-700">Address:</label>
    <input
      type="text"
      id="address"
      class="border rounded-md p-2 w-full mb-4"
      formControlName="address"
    />

    <label for="phone" class="block text-gray-700">Phone:</label>
    <input
      type="text"
      id="phone"
      class="border rounded-md p-2 w-full mb-4"
      formControlName="phone"
    />

    <button
      type="submit"
      class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600"
    >
      Save
    </button>
  </form>

  <!-- Success message -->
  <div
    *ngIf="successMessage"
    class="mt-4 text-green-600 font-semibold bg-green-100 p-4 rounded-md"
  >
    {{ successMessage }}
  </div>
</div>
