<div class="lg:w-3/5 md:w-1/2 pr-0 md:pr-16">
  <h1 class="title-font font-medium text-3xl text-gray-900">
    Hello Mr.
    <span *ngIf="resultvariable">
      {{ resultvariable.input1 }}
    </span>
  </h1>
  <p class="leading-relaxed mt-4">
    Your age is
    <span *ngIf="resultvariable">
      {{ resultvariable.input2 }}
    </span>
  </p>
  <h1 class="text-2xl font-bold mb-4">{{ elementshtow }}</h1>

  <div>
    <mat-form-field class="example-full-width">
      <input
        matInput
        id="input2"
        type="text"
        [(ngModel)]="elementshtow"
        placeholder="Write here anything"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </mat-form-field>
  </div>
</div>
